@import 'tailwindcss';

@theme{
    --color-bone-white: #F9F9F6;
    --color-regal-blue: #1C2C54;
    --color-light-gold: #C9A66B;
}

.sidebar{
    background-color: #2c437d;
    position: relative;
}

.sideLink{
    color: var(--color-bone-white) !important;
}

.sidebar ul li:hover{
    color: var(--color-bone-white) !important;
    background-color: #3d589b;
}

.sidebar ul li{
    color: var(--color-bone-white) !important;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
}